[submodule "submodules/diff-surfel-rasterization"]
	path = submodules/diff-surfel-rasterization
	url = https://github.com/mokezhang/diff-surfel-rasterization.git
	branch = mokezhang
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/mokezhang/simple-knn.git
	branch = main_mokezhang
